# dependencies
/node_modules
/.pnp
.pnp.js

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# environments
.env
.env.production
.env.local
.env.development.local

# misc
*.log
.DS_Store